/*Force size calculations to match properly*/
* {
  box-sizing: border-box;
}

/*Default Settings for website*/
body { /*Default Style for text and background across websites*/
  color: #1A1A1A; /*Sets body text font color to Black*/
  text-align: center; /*Centers boby Text on webpage*/
  margin: 0; /*Sets zero margin for body text*/
  padding: 0; /*Sets padding for body text to 0*/
  background-color: #FFFEF5; /*Sets body Background to White */
  font-family: 'Times New Roman', Georgia, serif; /*Fallback of fonts for Body Text*/
}
/*Default Settings for website main text on certain pages*/
.bodytext {
  text-align: center;
  width: 95%;
  margin: 1.25rem auto;
  background-color: #D3D3D3;
  border-radius: 0.9rem;
  padding: 1.25rem;
}

/*Default Centering for Tables throughout website*/
.tablecenter { /*Table to be centered*/
  /*Allows Table to be in the center of webpage*/
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: clamp(16px, 2.5vw, 36px);
}
#tableshrink {
  table-layout: fixed;
}
#tabletitle {
  font-size: clamp(20px, 4vw, 48px);
  font-weight: 800;
}
