/*index.html section alignment and settings*/
.indexsidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.9rem;
  padding: 0;
  background-color: #D3D3D3;
}
/*index.html video settings*/
#mainvideo {
  width: 100%;
  height: auto;
  display: block;
}
/*Contacts Alignment settings &  Button Formating*/
.notinline {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  background-color: #D3D3D3;
  border-radius: 0.9rem;
  margin: 2rem;
  padding: 1rem;
}
.notinline p {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
.notinline a {
  margin: auto;
  font-size: clamp(10px, 2vw, 25px); ;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Gmaps iframe in contacts*/
#contactgmapsquarter {
  border: none; 
  overflow: hidden;
  border-radius: 0.9rem;
  width: 100%;
  flex-grow: 1;
  height: auto;
  min-height: 400px;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.05);
}

/*override default background color in contacts*/
.contactssubmaincustom {
  background-color: #FFFEF5;
}

.enlargebutton {
  font-size: clamp(16px, 2.5vw, 30px);
}

/*For Mobile*/
@media screen and (max-width: 800px) {
  /*Idex.html page for mobile screens*/
  .indexsidebar {
    flex: auto;
    width: 100%;
  }
  
  /*Header adjust for mobile*/
  .headeriframe {
    height: 6rem;
  }
  #headerframe .logo img{
    height: 6rem;
  }
}
