/*index.html section alignment and settings*/
.indexsidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.9rem;
  padding: 0;
  background-color: #D3D3D3;
}
#mainvideo {
  width: 100%;
  height: auto;
  display: block;
}
/*Contacts Alignment settings &  Button Formating*/
.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.inline p {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
.inline button{
  background-color: #D66A28;
  color: #FFFEF5;
  border: 2px solid #B71C1C;
  border-radius: 0.9rem;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
.inline button:hover{
  background-color: #B71C1C;
  border: 2px solid #D66A28;
}
#contactgmapsquarter {
  border: none; 
  overflow: hidden;
  border-radius: 0.9rem;
  width: 100%;
  flex-grow: 1;
  height: auto;
  min-height: 400px;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.05);
}



/*For Mobile*/
@media screen and (max-width: 768px) {
  /*Idex.html page for mobile screens*/
  .indexsidebar {
    flex: auto;
    width: 100%;
  }
  
  /*Header adjust for mobile*/
  .headeriframe {
    height: 6rem;
  }
  #headerframe .logo img{
    height: 6rem;
  }
}
