/*Header Body Styling*/
#headerbody { /*Style of Body in Header iframe*/ /**/
  background-color: #D66A28; /*Header Color to orange*/
  text-align: center; /*Header Text Centered*/
  height: 120px;
  position: absolute;
  width: 100%;
  height: 100vh; /* Fills the iframe height */
  overflow: hidden; /* Stops scrollbars from appearing inside the iframe */
  box-sizing: border-box;
}

/*Header Logo Styleing*/
header .logo img{
  display: block;
  height: 120px; 
  float: left;
}

/*Header Nav Styling*/
header .main-nav {
  /*For fixing the headers overflow to not separate multiword links*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px; 
  list-style: none;
}
header .main-nav li { /*Style for the Nav bar in header*/
  padding: 0px 15px;
}  
header .main-nav li a { /*Style for the text in each nav line*/
  font-weight: 800; /*Bold Nav Bar Text*/
  font-size: 20px; /*Size for Nav Bar Text*/
  text-decoration: none; /*Remove defualt Underline*/
  color: #FFFEF5; /*Set color of Nav Bar Text to White*/
  font-family: 'Times New Roman', Georgia, serif; /*Fallback of fonts for Header Nav Bar*/
}
header .main-nav li a:hover { /*Style for when hovering over each nav link*/
  color: #001A4D; /*Nav Bar Text to Dark Blue when Hovering*/
  text-decoration: underline; /*Nav Bar Text to underline when Hovering*/
}

/*Footer Body Styling*/
#footerbody { /*Style of Body in Footer iframe*/
  background-color: #B71C1C; /*Footer Background color to red*/
  color: #FFFEF5; /*Footer text color to white*/
}

/*Footer Grid Container styles*/
footer {
  display: grid;
  height: 250px;
  grid-template-columns: auto auto auto;
}
footer .logo img{
  height: 75px;
  padding: 10px 20px;
}
 
footer .right-nav li, .left-nav li {
  list-style-type: none;
  
 }
 
footer .right-nav li a, .left-nav li a {
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Georgia, serif; /*Fallback of fonts for Footer Nav Bar*/
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 4px;
  padding: 0px 15px;
 }
footer .right-nav li a:hover, .left-nav li a:hover { /*Style for when hovering over each nav link*/
  color: #001A4D; /*Nav Bar Text to Dark Blue when Hovering*/
  text-decoration: none; /*Nav Bar Text to underline when Hovering*/
}

/*Centering for Tables throughout website*/
.tablecenter { /*Table to be centered*/
  /*Allows Table to be in the center of webpage*/
  display: flex;
  justify-content: center;
  text-align: center;
}

/*Controls iFrame settings for header and footer accross website*/
.headeriframe { /*Define the size of header iframe on each page*/
  border: none; /*Remove Excess border*/
  display: block; /*Sets header iframe to block element*/
  width: 100%; /*Sets header iframe width on each page */
  height: 120px; /*Sets header iframe height on each page */
}
.footeriframe { /*Define the size of the footer iframe on each page*/
  display: block; /*Sets footer iframe to block element*/
  width: 100%; /*Sets footer iframe width on each page */
  height: 160px; /*Sets footer iframe height on each page */
  border: none; /*Remove Excess border*/
}

/*Default Settings for website*/
body { /*Default Style for text and background across websites*/
  color: #1A1A1A; /*Sets body text font color to Black*/
  text-align: center; /*Centers boby Text on webpage*/
  margin: 0; /*Sets zero margin for body text*/
  padding: 0px; /*Sets padding for body text to 0*/
  background-color: #FFFEF5; /*Sets body Background to White */
  font-family: 'Times New Roman', Georgia, serif; /*Fallback of fonts for Body Text*/
}
