#headerbody { /*Style of Body in Header iframe*/ /**/
  background-color: #D66A28; /*Header Color to orange*/
  text-align: center; /*Header Text Centered*/
}
.logo {
  float: left;
}
#headerbody nav { /*Style for the Nav bar in header*/
  /*For fixing the headers overflow to not separate multiword links*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: left;
  margin: 0;
  padding: 0px 250px;
}  
#headerbody nav a { /*Style for the text in each nav line*/
  font-weight: 800; /*Bold Nav Bar Text*/
  font-size: 20px; /*Size for Nav Bar Text*/
  text-decoration: none; /*Remove defualt Underline*/
  color: #FFFEF5; /*Set color of Nav Bar Text to White*/
  margin: 0 15px; /*Add a margin to Nav Bar Text*/
  font-family: 'Times New Roman', Georgia, serif; /*Fallback of fonts for Header Nav Bar*/
}
#headerbody nav a:hover { /*Style for when hovering over each nav link*/
  color: #001A4D; /*Nav Bar Text to Dark Blue when Hovering*/
  text-decoration: underline; /*Nav Bar Text to underline when Hovering*/
}
#footerbody { /*Style of Body in Footer iframe*/
  background-color: #B71C1C; /*Footer Background color to red*/
  color: #FFFEF5; /*Footer text color to white*/
  text-align: center; /*Center align footer text*/
}
.tablecenter { /*Table to be centered*/
  /*Allows Table to be in the center of webpage*/
  display: flex;
  justify-content: center;
  text-align: center;
}
.headeriframe { /*Define the size of header iframe on each page*/
  border: none; /*Remove Excess border*/
  display: block; /*Sets header iframe to block element*/
  width: 100%; /*Sets header iframe width on each page */
  height: 250px; /*Sets header iframe height on each page */
}
.footeriframe { /*Define the size of the footer iframe on each page*/
  display: block; /*Sets footer iframe to block element*/
  width: 100%; /*Sets footer iframe width on each page */
  height: 75px; /*Sets footer iframe height on each page */
  border: none; /*Remove Excess border*/
}
body { /*Default Style for text and background across websites*/
  color: #1A1A1A; /*Sets body text font color to Black*/
  text-align: center; /*Centers boby Text on webpage*/
  margin: 0; /*Sets zero margin for body text*/
  padding: 0px; /*Sets padding for body text to 0*/
  background-color: #FFFEF5; /*Sets body Background to White */
  font-family: 'Times New Roman', Georgia, serif; /*Fallback of fonts for Body Text*/
}
